extends ../../layout/layout.jade

block link 
	link(rel="stylesheet" type="text/css" href="../../css/base/normalize.css")
	link(rel="stylesheet" type="text/css" href="../../css/views/ayuda/ayuda.css") 
	link(rel="stylesheet" type="text/css" href="../../css/views/all.css")
	link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

block content   
	nav.vHome_dTopNav 
		ul.vHome_bTopNav
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Ofertas de hoy
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Lo ultimo
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Destacados
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Regalos
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Ayuda