/* - - - - - - - - - - - - - - - - */
@import 'jeet'  

/* - - - - - - - - - - - - - - - - */	
.vHome_bHeaderWrapper
	background-color #e7e7e6
	
.vHome_bHeader 
	font-size 0
	width 960px
	margin 0 auto
	box-sizing border-box
	height 160px
	padding-top 30px
	padding-bottom 30px
	
.vHome_bHeader_eImage
	display inline-block
	width 200px
	height 100px
	vertical-align bottom
	margin-right 56px

.vHome_bSearch
	display inline-block 
	vertical-align bottom

.vHome_bSearch_eInput
	font-size 15px
	font-weight bold
	padding 0
	padding-left 20px
	box-sizing border-box
	float left
	width 450px
	height 50px
	border 0
	background-color white
	margin-right 54px

.vHome_bSearch_eButton 
	float left
	border none
	width 200px
	height 50px
	padding 0
	i
	span
		font-size 15px
	span
		text-transform uppercase
	i
		margin-left 10px

/* - - - - - - - - - - - - - - - - */	
.vHome_dTopNav
	background-color #d9d9d8

.vHome_bTopNav
	height 50px
	width 960px
	margin 0 auto
	padding 0
	
.vHome_bTopNav_eItem
	float left
	list-style none
	
.vHome_bTopNav_eItemTarget
	font-size 12px
	font-weight bold
	text-align center
	width 120px
	display block
	height 50px
	color black
	text-decoration none
	line-height 50px
	&:hover 
		background-color darken(#d9d9d8,10%)	
		
/* - - - - - - - - - - - - - - - - 8.5*/	
.vHome_bGalleryItem
	col(3/12,cycle: 4,gutter:8.33333333333)
	box-shadow 0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5
	margin-top 54px
	
.vHome_bGallery
	width 960px 
	margin 0 auto
	margin-bottom 30px
	//margin-top 46px

.vHome_bGalleryItemDescription	
	padding 10px
	span
		display block
		color #969696
		font-size 14px
	.title
		font-weight bold
		font-size 14px
		color black
		
/* - - - - - - - - - - - - - - - - */
.vHome_bFooterWrapper
	background-color #d9d9d8
.vHome_bFooter
	width 960px
	margin 0 auto
	text-align left
	padding 30px 10px
/* - - - - - - - - - - - - - - - - */
.uCf
	&:before
	&:after
		content " "
		display table

.uCf:after
	clear both
	
.uCf
	*zoom 1 