extends ../../layout/layout.jade
 
block link
	link(rel="stylesheet" type="text/css" href="../../css/base/normalize.css")
	link(rel="stylesheet" type="text/css" href="../../css/views/index/index.css")
	link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

block content   
	header.vHome_dHeader
		.vHome_bHeader.uCf
			img(src="http://placehold.it/200x100&text=Mamazon").vHome_bHeader_eImage
			.vHome_bSearch
				input.vHome_bSearch_eInput
				button.vHome_bSearch_eButton 
					span buscar
					i(class="fa fa-search")
	
	nav.vHome_dTopNav
		ul.vHome_bTopNav
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Ofertas de hoy
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Lo ultimo
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Destacados
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Regalos
			li.vHome_bTopNav_eItem
				a(href="#").vHome_bTopNav_eItemTarget Ayuda


	.vHome_bGallery.uCf
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
		.vHome_bGalleryItem
			img(src="http://placehold.it/180x180&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span Mago, Carril central.
				span $300.00
