extends ../../layout/layout.jade

block link 
	link(rel="stylesheet" type="text/css" href="../../css/base/normalize.css")
	link(rel="stylesheet" type="text/css" href="../../css/views/index/index.css")
	link(rel="stylesheet" type="text/css" href="../../css/views/all.css")
	link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

block content   
	header.vHome_bHeaderWrapper
		.vHome_bHeader.uCf
			img(src="http://placehold.it/200x100&text=Mamazon").vHome_bHeader_eImage
			.vHome_bHeader_bSearch
				input.vHome_bSearch_eInput
				button.vHome_bSearch_eButton 
					span buscar
					i(class="fa fa-search") 

	nav.bTopNavWrapper.vHelp
		ul.bTopNav
			li.bTopNav_eItem
				a(href="#").bTopNav_eItemTarget Ofertas de hoy
			li.bTopNav_eItem
				a(href="#").bTopNav_eItemTarget Lo ultimo
			li.bTopNav_eItem
				a(href="#").bTopNav_eItemTarget Destacados
			li.bTopNav_eItem
				a(href="#").bTopNav_eItemTarget Regalos
			li.bTopNav_eItem
				a(href="../help/help.html").bTopNav_eItemTarget Ayuda

	.vHome_bGallery.uCf 
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
		a(href="#").vHome_bGalleryItem
			img(src="http://placehold.it/200x200&text=invoker").vHome_bGalleryItem_eImage
			.vHome_bGalleryItemDescription
				span.title invoker
				span
					i.fa.fa-tag
					|Mago, Carril central.
				span 
					i.fa.fa-usd 
					|300.00
	footer.vHome_bFooterWrapper
		.vHome_bFooter
			span Todos los derechos reservados. 
